html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  /* height: 100%; */
  font-family: Vazirmatn, sans-serif !important;
}

body {
  margin: 0;
  /* height: 100vh; */
  font-family: Vazirmatn, sans-serif !important;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  direction: rtl;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    "header"
    "main";
  height: 100%;
}

header {
  grid-area: header;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 10000;
  box-shadow: 0px 4px 13px 3px rgba(171, 165, 165, 1);
  -webkit-box-shadow: 0px 4px 13px 3px rgba(171, 165, 165, 1);
  -moz-box-shadow: 0px 4px 13px 3px rgba(171, 165, 165, 1);
  /* display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center; */
}

main {
  grid-area: main;
}

a {
  color: "#000";
  text-decoration: none;
}

p,
a {
  font-family: Vazirmatn, sans-serif !important;
  text-decoration: none;
}

.image--style {
  box-shadow: 0px 0px 21px 2px rgba(66, 44, 44, 0.75);
  -webkit-box-shadow: 0px 0px 21px 2px rgba(66, 44, 44, 0.75);
  -moz-box-shadow: 0px 0px 21px 2px rgba(66, 44, 44, 0.75);
  border-radius: 7px;
}

.branding--image {
  box-shadow: 3px 3px 26px 1px rgba(43, 32, 82, 0.7);
  -webkit-box-shadow: 3px 3px 26px 1px rgba(43, 32, 82, 0.7);
  -moz-box-shadow: 3px 3px 26px 1px rgba(43, 32, 82, 0.7);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.values--img {
  box-shadow: 1px 3px 26px 4px rgba(214, 169, 169, 0.51);
  -webkit-box-shadow: 1px 3px 26px 4px rgba(214, 169, 169, 0.51);
  -moz-box-shadow: 1px 3px 26px 4px rgba(214, 169, 169, 0.51);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.featured--image {
  box-shadow: 1px 3px 26px 4px rgba(54, 30, 30, 0.51);
  -webkit-box-shadow: 1px 3px 26px 4px rgba(54, 30, 30, 0.51);
  -moz-box-shadow: 1px 3px 26px 4px rgba(54, 30, 30, 0.51);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.featured--image1 {
  box-shadow: 1px 3px 26px 4px rgba(48, 4, 4, 0.51);
  -webkit-box-shadow: 1px 3px 26px 4px rgba(48, 4, 4, 0.51);
  -moz-box-shadow: 1px 3px 26px 4px rgba(48, 4, 4, 0.51);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}